<%- include("partials/header"); -%>

<%  posts.forEach(function(post){ %>

  <h1><%=post.title%></h1>
  <br>
  <pre class="container"><p> <%=post.content%> </p></pre>


  <% }) %>

  <%- include("partials/footer"); -%>